OUTREACH_WORKFLOW.json
{
  "name": "TVCT - Final Outreach Sync (Fail-Proof)",
  "nodes": [
    {
      "parameters": {},
      "id": "7f654b32-12a1-4321-bcde-567890abcdef",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { \"FirstName\": \"Huntsville\", \"LastName\": \"Surgery\", \"Email\": \"admin@hsvsurgery.com\", \"Phone\": \"256-555-0100\", \"Organization\": \"Huntsville Surgery Center\", \"Category\": \"Medical\" } },\n  { json: { \"FirstName\": \"Athens\", \"LastName\": \"Dental\", \"Email\": \"hello@athensdentists.com\", \"Phone\": \"256-555-0200\", \"Organization\": \"Athens Pediatric Dentistry\", \"Category\": \"Dental\" } },\n  { json: { \"FirstName\": \"Grace\", \"LastName\": \"Community\", \"Email\": \"info@gracehills.org\", \"Phone\": \"256-555-0300\", \"Organization\": \"Grace Hills Community Church\", \"Category\": \"Church\" } },\n  { json: { \"FirstName\": \"Decatur\", \"LastName\": \"Clinic\", \"Email\": \"staff@decaturphysicians.com\", \"Phone\": \"256-555-0400\", \"Organization\": \"Decatur Specialty Clinic\", \"Category\": \"Medical\" } },\n  { json: { \"FirstName\": \"Shoals\", \"LastName\": \"Smile\", \"Email\": \"teeth@shoalssmiles.com\", \"Phone\": \"256-555-0500\", \"Organization\": \"Shoals Cosmetic Dentistry\", \"Category\": \"Dental\" } },\n  { json: { \"FirstName\": \"Faith\", \"LastName\": \"Bible\", \"Email\": \"outreach@faithbible.org\", \"Phone\": \"256-555-0600\", \"Organization\": \"Faith Bible Church\", \"Category\": \"Church\" } }\n];"
      },
      "id": "8a765c43-23b2-5432-cdef-678901bcdefg",
      "name": "Load Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "0c987e65-45d4-7654-efgh-890123defghi",
      "name": "Filter Invalid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "number",
        "value1": "={{ Math.floor(Math.random() * 2) }}",
        "rules": {
          "rules": [
            {
              "value2": 0
            },
            {
              "value2": 1
            }
          ]
        }
      },
      "id": "3f210b98-78g7-0987-hijk-123456ghijkl",
      "name": "A/B Split (50/50)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.Email }}",
        "additionalFields": {
          "firstName": "={{ $json.FirstName }}",
          "lastName": "={{ $json.LastName }}",
          "phone": "={{ $json.Phone }}",
          "source": "Outbound Campaign 2026",
          "tags": "={{ [$json.Category, 'variant_a_standard'] }}"
        }
      },
      "id": "4a321c09-89h8-1098-ijkl-234567hijklm",
      "name": "Sync Variant A (Standard)",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.Email }}",
        "additionalFields": {
          "firstName": "={{ $json.FirstName }}",
          "lastName": "={{ $json.LastName }}",
          "phone": "={{ $json.Phone }}",
          "source": "Outbound Campaign 2026",
          "tags": "={{ [$json.Category, 'variant_b_walkthrough'] }}"
        }
      },
      "id": "5b432d10-90i9-2109-jklm-345678ijklmn",
      "name": "Sync Variant B (Walkthrough)",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Contact Data": {
      "main": [
        [
          {
            "node": "Filter Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Invalid": {
      "main": [
        [
          {
            "node": "A/B Split (50/50)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A/B Split (50/50)": {
      "main": [
        [
          {
            "node": "Sync Variant A (Standard)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sync Variant B (Walkthrough)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
