n8n-workflows/instant_quote_workflow.json
{
    "name": "TVCT - Instant Quote Bot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "instant-quote",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const pricing = [\n  {\n    \"service_type\": \"deep_clean\",\n    \"pricing_tiers\": [\n        {\"max_sqft\": 750, \"price\": 276},\n        {\"max_sqft\": 1000, \"price\": 311},\n        {\"max_sqft\": 1250, \"price\": 346},\n        {\"max_sqft\": 1500, \"price\": 381},\n        {\"max_sqft\": 1800, \"price\": 416},\n        {\"max_sqft\": 2100, \"price\": 451},\n        {\"max_sqft\": 2400, \"price\": 506},\n        {\"max_sqft\": 2700, \"price\": 561},\n        {\"max_sqft\": 3000, \"price\": 616},\n        {\"max_sqft\": 3300, \"price\": 671},\n        {\"max_sqft\": 3600, \"price\": 726},\n        {\"max_sqft\": 4000, \"price\": 781},\n        {\"max_sqft\": 4400, \"price\": 836},\n        {\"max_sqft\": 4800, \"price\": 891},\n        {\"max_sqft\": 5200, \"price\": 946},\n        {\"max_sqft\": 5600, \"price\": 1001},\n        {\"max_sqft\": 6000, \"price\": 1056}\n    ]\n  },\n  {\n    \"service_type\": \"standard_clean\",\n    \"pricing_tiers\": [\n        {\"max_sqft\": 750, \"price\": 176},\n        {\"max_sqft\": 1000, \"price\": 211},\n        {\"max_sqft\": 1250, \"price\": 246},\n        {\"max_sqft\": 1500, \"price\": 281},\n        {\"max_sqft\": 1800, \"price\": 316},\n        {\"max_sqft\": 2100, \"price\": 351},\n        {\"max_sqft\": 2400, \"price\": 381},\n        {\"max_sqft\": 2700, \"price\": 436},\n        {\"max_sqft\": 3000, \"price\": 491},\n        {\"max_sqft\": 3300, \"price\": 546},\n        {\"max_sqft\": 3600, \"price\": 601},\n        {\"max_sqft\": 4000, \"price\": 656},\n        {\"max_sqft\": 4400, \"price\": 711},\n        {\"max_sqft\": 4800, \"price\": 766},\n        {\"max_sqft\": 5200, \"price\": 821},\n        {\"max_sqft\": 5600, \"price\": 876},\n        {\"max_sqft\": 6000, \"price\": 931}\n    ]\n  }\n];\n\nconst userSqFt = items[0].json.body.sq_ft;\nconst serviceType = items[0].json.body.service_type || 'deep_clean';\n\nlet price = 0;\nconst serviceData = pricing.find(s => s.service_type === serviceType);\n\nif (serviceData) {\n  const tier = serviceData.pricing_tiers.find(t => userSqFt <= t.max_sqft);\n  if (tier) {\n    price = tier.price;\n  } else {\n    price = serviceData.pricing_tiers[serviceData.pricing_tiers.length - 1].price; // Fallback to max\n  }\n}\n\n// Move In/Out Adjustment\nif (serviceType === 'move_in_out') {\n    // Use deep clean as base if not defined separately\n    const baseService = pricing.find(s => s.service_type === 'deep_clean');\n    const tier = baseService.pricing_tiers.find(t => userSqFt <= t.max_sqft);\n    price = tier.price + 75;\n}\n\nreturn [\n  {\n    json: {\n      price: price,\n      ...items[0].json.body\n    }\n  }\n];"
            },
            "name": "Calculate Price",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "text": "=Hi {{ $json.first_name }}, based on {{ $json.sq_ft }} sq ft, your estimated price for a {{ $json.service_type }} is ${{ $json.price }}. \n\nReady to book? Click here: https://thevalleycleanteam.com/booking",
                "additionalFields": {}
            },
            "name": "Prepare SMS",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Calculate Price",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Price": {
            "main": [
                [
                    {
                        "node": "Prepare SMS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}